<% 
let cityOrdering = ['Λευκωσία', 'Λεμεσός', 'Λάρνακα', 'Πάφος', 'Αμμόχωστος'];

let citiesToPharmacies = new Map();
cities.forEach(city => citiesToPharmacies.set(city, [])); // init map with wmpty lists
selectedPharmacyIds.forEach(id => {
    let pharmacy = pharmacies.find(p => p.id == id);
    let locality = localities.find(l => l.uuid == pharmacy.localityUuid);
    let city = cities.find(c => c.uuid == locality.cityUuid);
    citiesToPharmacies.get(city).push(pharmacy);
});

cities.sort(function(c1, c2) {
    i1 = cityOrdering.indexOf(c1.nameEl);
    i2 = cityOrdering.indexOf(c2.nameEl);
    return i1 < i2 ? -1 : 1;
});
cities.forEach(city => {
    // console.log(`city: ${city.nameEl} contains ${citiesToPharmacies.get(city).length} pharmacies`);
%>

<div>
    <div class="alert alert-success">
        <strong> <%= city.nameEl %> </strong>
    </div>
<%
    selectedPharmacies = citiesToPharmacies.get(city);
    selectedPharmacies.sort(function(p1, p2) { return p1.name < p2.name ? -1 : 1 }); // sort pharmacies by nameEl
    selectedPharmacies.forEach(pharmacy => {
        let locality = localities.find(l => l.uuid == pharmacy.localityUuid);
%> 
    <div class="my-3 p-3 bg-white rounded box-shadow" onclick="location.href='/pharmacy/<%= pharmacy.id %>';" style="cursor: pointer;">
        <div class="border-bottom border-gray pb-2 mb-0">
            <strong class="h5"> <%= pharmacy.name %> </strong>
            <%= pharmacy.address %>, CY-<%= pharmacy.addressPostalCode %>, <%= locality.nameEl %>
            <%= pharmacy.addressDetails ? `(${pharmacy.addressDetails})` : `` %>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125">
                <a href="https://www.google.com/maps/search/?api=1&query=<%= pharmacy.lat %>,<%= pharmacy.lng %>" target="_blank" class="btn btn-success btn-sm insideLink m-1"> <i class="fa-solid fa-map"></i> View on map <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                <a href="https://www.google.com/maps/dir/?api=1&destination=<%= pharmacy.lat %>,<%= pharmacy.lng %>" target="_blank" class="btn btn-success btn-sm insideLink m-1"> <i class="fa-solid fa-location-arrow"></i> Directions <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                <a href="tel:<%= pharmacy.phoneBusiness %>" title="Dial phone number" class="btn btn-success btn-sm insideLink m-1"> <i class="fa-solid fa-phone"></i> Call <%= pharmacy.phoneBusiness %> </a>
            </p>
        </div>
    </div>
<% 
    });

%>
</div>
<%
});
%> 
