<html>

<head>
    <%- include('../partials/head'); %>

    <script>
        navigator.geolocation.getCurrentPosition(setPosition);
        var geoPosition;
        function setPosition(position) {
            console.log(`position: ${JSON.stringify(position)}`);
        }
    </script>

</head>

<body>

    <% 

    function isSummerTime() {
        let date = new Date(new Date().toLocaleString("en-US", {timeZone: 'Asia/Nicosia'})); 
        let month = date.getMonth() + 1;
        return month >= 5 && month <= 9;
    }

    function isWinterTime() {
        return !isSummerTime();
    }

    function isEarlyHours() {
        let date = new Date(new Date().toLocaleString("en-US", {timeZone: 'Asia/Nicosia'})); 
        let hour = date.getHours(); // 0..23
        return hour < 8; // between midnight and 7:59
    }

    function isEvening() {
        let date = new Date(new Date().toLocaleString("en-US", {timeZone: 'Asia/Nicosia'})); 
        let hour = date.getHours(); // 0..23
        return hour >= 19; // between 19:00 and 23:59
    }

    let dateFormatOptions = { weekday: 'long', month: 'long', day: 'numeric' };

    let now = new Date(new Date().toLocaleString("en-US", {timeZone: 'Asia/Nicosia'})); 
    let nextDay = new Date();
    nextDay.setDate(now.getDate() + 1);
    let previousDay = new Date();
    previousDay.setDate(now.getDate() - 1);

    let today = now.toLocaleDateString("el-CY", dateFormatOptions);
    let tomorrow = nextDay.toLocaleDateString("el-CY", dateFormatOptions);
    let yesterday = previousDay.toLocaleDateString("el-CY", dateFormatOptions);

    labelNow = `Διημερεύουν απόψε, ${today}`;
    if(isEvening()) {
        labelNow = `Διημερεύουν απόψε, ${today}`;
    } else if(isEarlyHours()) {
        labelNow = `Διημερεύουν σήμερα, ${yesterday}, μέχρι τις 8 το επόμενο πρωί`;
    } else {
        labelNow = `Διημερεύουν σήμερα, ${today}, μέχρι τις 8 το επόμενο πρωί`;
    }

    labelNextDay = `Διημερεύουν αύριο, ${tomorrow}`;
    if(isEarlyHours()) {
        labelNextDay = `Διημερεύουν αύριο, ${today}`;
    } else {
        labelNextDay = `Διημερεύουν αύριο, ${tomorrow}`;
    }

    labelAll = 'Όλα τα φαρμακεία';

    %> 

    <nav class="navbar sticky-top navbar-light m-md-3 bg-light">
        <nav-item class="m-4">
            <h3> <img src="/cpg.png" width="32"/> Cyprus Pharmacy Guide </h3>
        </nav-item>
        <div class="w-100">
            <ul class="nav nav-tabs mb-3" id="myTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="oncallnow-tab-id" data-bs-toggle="tab" href="#tab_oncallnow" data-bs-target="#tab_oncallnow" type="button" role="tab" aria-controls="tab_oncallnow" aria-selected="true">Διημερεύουν τώρα</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="nextday-tab-id" data-bs-toggle="tab" href="#tab_nextday" data-bs-target="#tab_nextday" type="button" role="tab" aria-controls="tab_nextday" aria-selected="false">Επόμενη μέρα</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="all-tab-id" data-bs-toggle="tab" href="#tab_all" data-bs-target="#tab_all" type="button" role="tab" aria-controls="tab_all" aria-selected="false">Όλα</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_oncallnow_label">
                <p id="pharmacies_label"> <%= labelNow %> </p>
            </div>
        </div>
        <nav-item id="hoursLink" class="w-100"> <a href="#"> <i class="fa-solid fa-clock"></i> <strong> Ωράριο <i class="fa-solid fa-caret-down"></i> </strong> </a> </nav-item>
        <div class="container d-none" id="hoursContent">
            <div class="card m-4 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-solid fa-sun" style="color: yellow; background-color: deepskyblue; padding: 10px;"></i> Summer Period
                        <% 
                        if(isSummerTime()) {
                        %> 
                        <i class="fa-solid fa-check" style="color: green;"></i>
                        <% 
                        }
                        %> 
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">May 1st to Sep 30th</h6>
                    <p class="card-text"><pre>
Mon: 9:00-1:30 & 4:00-7:30
Tue: 9:00-1:30 & 4:00-7:30
Wed: 9:00-1:30
Thu: 9:00-1:30 & 4:00-7:30
Fri: 9:00-1:30 & 4:00-7:30
Sat: 9:00-1:30
Sun: closed

On call pharmacies open 8am to 11pm.
Call ahead for service after 11pm.</pre></p>
                </div>
            </div>
            <div class="card m-4 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-solid fa-cloud" style="color: white; background-color: deepskyblue; padding: 10px;"></i> Winter Period
                        <% 
                        if(isWinterTime()) {
                        %> 
                        <i class="fa-solid fa-check" style="color: green;"></i>
                        <% 
                        }
                        %> 

                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Oct 1st to Apr 30th</h6>
                    <p class="card-text"><pre>
Mon: 9:00-1:30 & 3:00-6:30
Tue: 9:00-1:30 & 3:00-6:30
Wed: 9:00-1:30
Thu: 9:00-1:30 & 3:00-6:30
Fri: 9:00-1:30 & 3:00-6:30
Sat: 9:00-1:30
Sun: closed

On call pharmacies open 8am to 10pm.
Call ahead for service after 10pm.</pre></p>
                </div>
            </div>
        </div>

    </nav>
    
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">

        <div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab_oncallnow" role="tabpanel" aria-labelledby="oncallnow-tab-id">
                    <%- include('../partials/pharmacies_list', { cities: cities, localities: localities, pharmacies: pharmacies, selectedPharmacyIds: pharmacyIdsNow }); %>
                </div>
                <div class="tab-pane fade active" id="tab_nextday" role="tabpanel" aria-labelledby="nextday-tab-id">
                    <%- include('../partials/pharmacies_list', { cities: cities, localities: localities, pharmacies: pharmacies, selectedPharmacyIds: pharmacyIdsNextDay }); %>
                </div>
                <div class="tab-pane fade active" id="tab_all" role="tabpanel" aria-labelledby="all-tab-id">
                    <% 
                    let allPharmacyIds = pharmacies.map(p => p.id);
                    %> 
                    <%- include('../partials/pharmacies_list', { cities: cities, localities: localities, pharmacies: pharmacies, selectedPharmacyIds: allPharmacyIds }); %>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script>
        // handle tabs
        $('#myTabs a').click(function (event) {
            event.preventDefault();
            $(this).tab('show');

            if(this.id==='oncallnow-tab-id') {
                $('#pharmacies_label').text('<%= labelNow %>');
            } else if(this.id==='nextday-tab-id') {
                $('#pharmacies_label').text('<%= labelNextDay %>');
            } else { // this.id==='all-tab-id'
                $('#pharmacies_label').text('<%= labelAll %>');
            }
        });

        // handle working hours click
        $('#hoursLink a').click(function (event) {
            $('#hoursContent').toggleClass('d-none');
        });

        // handle click on links inside clickable divs
        $('.insideLink').click(function(event){
            event.stopImmediatePropagation();
        });
    </script>

</body>
</html>