<html>
    <head>
        <%- include('../partials/head'); %>
    </head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
        <h1>On Calls</h1>

        <ul>
            <% oncalls.forEach(function(oncall) { %>
              <li>
                <strong><%= oncall.date %></strong>
                <%= oncall.pharmacies %>
              </li>
            <% }); %>
        </ul>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>